<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=yes, initial-scale=1, minimum-scale=1, maximum-scale=5, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" href="statics/icons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app">
      <style>
        html, body {
          height: 100%;
          background-color: #f4f7fb;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        #svg-container {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @-webkit-keyframes fadeIn {
          from {
            opacity: 0;
          }

          to {
            opacity: 1;
          }
        }

        @keyframes fadeIn {
          from {
            opacity: 0;
          }

          to {
            opacity: 1;
          }
        }

        .fadeIn {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
          animation-duration: 20s;
        }

        @-webkit-keyframes zoomInDown {
          from {
            opacity: 0;
            -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
            transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
            -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          }

          60% {
            opacity: 1;
            -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
            transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
            -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
          }
        }

        @keyframes zoomInDown {
          from {
            opacity: 0;
            -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
            transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
            -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          }

          60% {
            opacity: 1;
            -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
            transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
            -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
          }
        }

        .zoomInDown {
          -webkit-animation-name: zoomInDown;
          animation-name: zoomInDown;
          animation-duration: 10s;
        }
      </style>
      <div id="svg-container" class="fadeIn zoomInDown loading-animation">
        <noscript>
          <a rel="noreferrer" href="<%= process.env.API_URL %>">Go to noscript version</a>
        </noscript>
        <svg id="#svg-1" version="1.0" xmlns="http://www.w3.org/2000/svg" width="15rem" height="15rem" viewBox="0 0 5120 5120" preserveAspectRatio="xMidYMid meet">
          <g id="layer101" fill="#241f31" stroke="none">
            <path d="M1817 1818 c-10 -5 -22 -6 -28 -3 -5 4 -16 1 -24 -5 -8 -7 -21 -10 -30 -7 -8 4 -17 2 -21 -4 -3 -6 -16 -9 -27 -7 -12 1 -28 -1 -34 -5 -7 -4 -32 -9 -55 -11 -24 -2 -50 -6 -59 -10 -21 -9 -73 -9 -121 -1 -27 5 -38 4 -38 -5 0 -7 -7 -10 -15 -6 -9 3 -15 0 -15 -10 0 -9 -5 -12 -12 -8 -7 4 -8 3 -4 -5 4 -6 11 -9 16 -6 5 3 15 -3 22 -15 7 -11 18 -20 25 -20 7 0 21 -8 31 -18 10 -10 25 -21 33 -24 14 -5 171 -275 170 -291 -1 -4 8 -17 19 -29 11 -12 20 -25 20 -30 0 -15 4 -23 22 -42 14 -16 22 -17 42 -8 24 11 46 1 46 -21 0 -5 20 -27 45 -49 25 -22 45 -46 45 -53 0 -7 20 -29 45 -49 25 -21 45 -44 45 -52 0 -8 5 -14 10 -14 6 0 10 6 10 13 -1 14 -65 145 -139 281 l-54 99 43 37 44 38 -3 85 -3 86 52 68 51 68 -53 12 c-29 7 -60 17 -69 22 -9 5 -22 5 -32 -1z"/>
            <path d="M2815 1808 c-59 -12 -115 -12 -250 -4 l-100 7 -47 -43 c-46 -42 -48 -47 -59 -123 -6 -44 -15 -84 -19 -90 -4 -5 -15 -37 -25 -70 -9 -33 -20 -64 -25 -70 -4 -5 -11 -25 -15 -43 -5 -25 -26 -48 -88 -98 -67 -54 -89 -80 -124 -143 -23 -42 -43 -85 -43 -95 0 -21 247 -445 261 -447 5 -1 15 -2 22 -3 14 -1 178 -316 172 -332 -8 -25 54 -99 69 -83 2 2 0 28 -5 58 -6 40 -5 58 6 75 8 13 16 65 20 136 3 63 8 147 10 185 2 39 7 121 11 184 3 63 10 122 15 133 5 10 13 26 18 36 5 10 12 32 16 50 6 29 0 42 -61 125 l-68 92 -3 105 c-1 58 -4 119 -7 135 -3 19 2 41 15 60 10 17 23 39 29 50 21 43 40 56 111 75 213 55 220 59 256 127 11 21 10 23 -15 22 -15 -1 -49 -6 -77 -11z"/>
          </g>
          <g id="layer102" fill="#444c67" stroke="none">
            <path d="M2693 1793 c15 -2 37 -2 50 0 12 2 0 4 -28 4 -27 0 -38 -2 -22 -4z"/>
            <path d="M1350 1725 c13 -14 25 -25 27 -25 9 0 -33 49 -41 50 -5 0 1 -11 14 -25z"/>
            <path d="M1472 1628 c8 -13 41 -69 72 -125 32 -57 60 -103 63 -103 3 0 -10 26 -27 58 -70 124 -111 192 -117 192 -3 0 1 -10 9 -22z"/>
            <path d="M1872 1530 c0 -19 2 -27 5 -17 2 9 2 25 0 35 -3 9 -5 1 -5 -18z"/>
            <path d="M1737 1248 c-10 -5 -25 -7 -33 -4 -9 4 -12 2 -8 -5 3 -6 17 -8 31 -4 14 3 31 1 39 -6 8 -7 14 -7 14 -1 0 19 -24 31 -43 20z"/>
            <path d="M1831 1163 c19 -23 36 -39 38 -37 3 3 -12 21 -34 42 l-38 37 34 -42z"/>
            <path d="M1930 1053 c13 -18 26 -30 29 -28 3 3 -8 18 -23 33 l-29 27 23 -32z"/>
            <path d="M2390 420 c46 -93 86 -167 88 -165 4 4 -155 322 -165 328 -5 3 30 -71 77 -163z"/>
          </g>
          <g id="layer103" fill="#1a5fb4" stroke="none">
            <path d="M2480 4947 c-25 -12 -47 -25 -50 -29 -3 -4 -23 -89 -43 -190 l-38 -183 80 -229 c44 -126 82 -230 84 -232 2 -2 34 7 71 19 l69 22 -6 104 c-6 115 11 192 52 235 17 18 21 35 21 88 0 65 0 66 -39 91 -37 25 -42 34 -88 173 -27 81 -53 149 -59 150 -5 2 -29 -7 -54 -19z"/>
            <path d="M2843 4572 c-49 -34 -52 -40 -53 -79 0 -32 -8 -52 -35 -88 -32 -41 -75 -131 -75 -155 0 -5 33 -45 74 -88 63 -67 74 -85 80 -125 7 -45 8 -47 41 -47 32 0 35 3 55 59 20 53 25 59 60 70 47 14 100 56 100 80 0 45 -34 110 -80 156 -49 48 -50 50 -50 111 0 52 -4 67 -30 102 -17 23 -31 42 -33 41 -1 0 -25 -17 -54 -37z"/>
            <path d="M2310 4429 c0 -36 25 -89 41 -89 19 0 36 57 25 85 -6 18 -66 21 -66 4z"/>
            <path d="M2273 4333 c-18 -3 -26 -17 -39 -61 -16 -55 -16 -56 6 -74 12 -10 35 -18 50 -18 39 0 61 54 47 116 -11 45 -14 47 -64 37z"/>
            <path d="M2169 4145 c-40 -26 -49 -59 -49 -176 l0 -58 70 -58 c39 -32 74 -59 79 -61 8 -3 71 135 71 155 0 6 -13 22 -29 36 -21 18 -34 43 -48 92 -23 88 -44 102 -94 70z"/>
            <path d="M2388 4125 c-27 -20 -48 -41 -48 -48 1 -6 20 -48 43 -92 40 -75 44 -80 75 -80 25 0 37 6 49 26 16 26 14 31 -27 128 -23 55 -43 101 -44 101 0 0 -22 -16 -48 -35z"/>
            <path d="M2581 4019 l-54 -71 47 -156 c32 -106 59 -176 84 -214 20 -32 39 -58 42 -58 3 0 31 24 63 53 l58 52 -24 83 -25 82 20 80 c23 92 19 127 -18 136 -15 4 -32 21 -45 45 -17 35 -23 39 -57 39 -34 0 -41 -5 -91 -71z"/>
            <path d="M3049 4083 c-23 -4 -27 -11 -39 -72 -11 -61 -11 -70 4 -94 10 -14 27 -27 39 -29 17 -2 27 -17 41 -60 18 -51 24 -57 59 -68 48 -14 55 -8 63 52 6 45 3 53 -60 162 -37 64 -71 115 -74 115 -4 -1 -19 -4 -33 -6z"/>
            <path d="M2890 3912 c-25 -20 -57 -44 -70 -53 l-24 -16 30 -39 c36 -49 43 -54 74 -54 18 0 37 15 68 49 23 28 42 54 42 59 0 10 -62 92 -70 91 -3 0 -25 -17 -50 -37z"/>
            <path d="M2067 3903 c-4 -3 -7 -16 -7 -28 0 -13 -6 -27 -12 -33 -7 -5 -86 -15 -175 -22 l-161 -13 -41 -58 -40 -57 93 -73 c100 -77 106 -86 106 -175 0 -72 42 -55 84 35 l29 61 77 25 c68 23 80 31 113 75 55 74 59 89 32 126 -13 17 -29 50 -35 74 -14 52 -45 82 -63 63z"/>
            <path d="M2398 3804 c-32 -25 -58 -47 -58 -49 0 -6 67 -45 76 -45 5 0 27 15 48 34 l40 33 -23 36 c-12 21 -23 37 -24 37 -1 0 -28 -21 -59 -46z"/>
            <path d="M2935 3718 c-22 -29 -43 -58 -48 -65 -20 -32 167 -163 234 -163 12 0 62 -29 110 -65 132 -96 162 -88 174 44 l7 80 -62 76 c-35 41 -66 75 -70 75 -3 0 -30 -7 -59 -16 -64 -19 -110 -7 -140 35 -16 22 -74 51 -103 51 -2 0 -22 -23 -43 -52z"/>
            <path d="M2280 3667 l-55 -23 -9 -60 c-5 -32 -10 -60 -11 -62 -1 -1 -20 8 -41 20 l-40 21 -92 -67 c-51 -37 -92 -70 -92 -72 0 -12 193 -234 204 -234 6 1 38 7 70 15 57 13 76 26 76 52 0 6 31 57 69 112 l68 102 -32 107 c-19 63 -38 108 -46 109 -8 1 -39 -8 -69 -20z"/>
            <path d="M1636 3617 c-25 -11 -32 -23 -51 -94 -17 -60 -21 -92 -15 -123 7 -36 2 -54 -37 -143 -25 -56 -50 -133 -57 -172 -11 -64 -14 -70 -37 -73 -14 -2 -41 -18 -59 -37 -30 -31 -32 -37 -26 -79 7 -46 8 -46 47 -46 22 0 39 -5 39 -11 0 -6 7 -36 16 -66 16 -54 17 -55 81 -84 36 -16 68 -29 72 -29 3 0 26 39 49 86 l43 85 -43 141 -42 141 26 22 c16 14 47 26 76 30 l50 7 16 86 c8 48 16 97 18 109 3 25 -111 263 -127 263 -5 -1 -23 -6 -39 -13z"/>
            <path d="M2486 3563 c-22 -34 -24 -43 -15 -87 5 -27 8 -50 7 -51 -2 0 -15 -6 -29 -12 -20 -9 -32 -26 -44 -63 -9 -28 -15 -53 -14 -54 17 -15 91 -56 100 -56 6 0 23 8 37 19 15 10 40 21 57 25 68 17 79 61 36 135 -18 29 -31 66 -31 84 0 24 -9 42 -33 65 -18 18 -36 32 -40 32 -4 0 -18 -17 -31 -37z"/>
            <path d="M2816 3504 c-38 -18 -74 -35 -79 -37 -4 -1 -3 -23 3 -49 11 -44 10 -50 -20 -112 -32 -64 -34 -66 -71 -66 -52 0 -67 -8 -85 -43 -15 -28 -15 -33 7 -79 25 -54 27 -55 141 -61 l77 -4 3 80 3 80 75 47 75 48 -3 87 c-2 69 -7 95 -23 117 -11 15 -23 28 -27 27 -4 0 -38 -16 -76 -35z"/>
            <path d="M3021 3432 c-18 -34 -18 -44 -7 -98 l13 -60 -64 -33 c-65 -34 -67 -38 -57 -90 6 -27 11 -31 38 -31 75 0 128 27 189 94 l57 65 0 65 0 66 -66 30 c-37 16 -71 30 -75 30 -5 0 -17 -17 -28 -38z"/>
            <path d="M1842 3297 c-29 -30 -31 -35 -21 -70 5 -20 14 -37 20 -37 25 0 87 41 93 62 10 39 7 66 -10 72 -31 12 -51 6 -82 -27z"/>
            <path d="M3365 3277 c-29 -51 -30 -60 -10 -77 8 -7 15 -23 15 -36 0 -13 7 -25 18 -27 69 -19 72 -19 122 23 l49 41 -32 59 -32 60 -52 0 c-51 0 -53 -1 -78 -43z"/>
            <path d="M2339 3232 c8 -15 4 -22 -19 -36 -19 -11 -33 -30 -40 -54 -19 -69 -14 -88 35 -127 40 -33 48 -36 84 -30 39 6 40 8 52 60 10 47 16 55 47 67 l34 13 -46 56 c-46 56 -71 69 -133 69 -20 0 -22 -3 -14 -18z"/>
            <path d="M3176 3196 l-50 -44 12 -108 c11 -94 10 -110 -3 -125 -14 -14 -14 -26 -4 -83 10 -51 10 -77 0 -118 -14 -61 -7 -70 54 -66 35 3 42 8 62 43 14 26 46 56 90 85 58 39 70 52 87 97 20 50 22 52 68 58 l48 7 0 42 0 43 -71 32 c-40 17 -87 31 -105 31 -31 0 -34 3 -39 38 -17 104 -13 96 -65 105 -31 6 -41 1 -84 -37z"/>
            <path d="M1961 3195 c-19 -13 -47 -27 -63 -30 -38 -9 -38 -37 -2 -194 5 -23 10 -20 80 50 42 41 82 87 90 102 15 28 14 30 -23 62 -21 19 -40 34 -43 34 -3 0 -20 -11 -39 -24z"/>
            <path d="M2183 3143 c-25 -13 -33 -24 -38 -56 -6 -34 -4 -43 18 -64 l25 -25 31 23 c27 20 31 29 31 69 0 41 -13 71 -29 69 -4 0 -20 -7 -38 -16z"/>
            <path d="M1671 3106 l-24 -25 42 -53 c22 -29 53 -68 69 -86 l27 -33 40 41 39 40 -18 54 c-26 76 -27 77 -92 83 -54 5 -61 3 -83 -21z"/>
            <path d="M2951 3105 c-57 -13 -107 -27 -111 -32 -5 -4 -10 -19 -12 -32 -3 -21 4 -27 57 -46 l60 -23 -3 -40 c-3 -36 4 -51 69 -141 40 -55 74 -99 77 -97 2 2 -1 55 -8 117 l-11 112 27 28 26 27 -17 59 c-9 32 -18 66 -21 76 -6 21 -3 21 -133 -8z"/>
            <path d="M2681 3012 c-32 -12 -47 -25 -54 -45 -15 -47 -1 -73 64 -116 104 -70 139 -68 139 4 0 39 -7 55 -47 110 -27 35 -50 64 -53 64 -3 0 -25 -8 -49 -17z"/>
            <path d="M2067 2982 c-16 -16 -27 -39 -27 -55 0 -22 -5 -27 -24 -27 -31 0 -35 -7 -25 -46 8 -27 16 -33 98 -59 80 -25 90 -31 95 -56 3 -17 16 -34 33 -43 16 -8 39 -32 51 -55 17 -30 30 -41 47 -41 39 0 46 45 18 125 -16 49 -16 49 12 102 16 29 27 54 24 56 -53 44 -103 68 -139 65 -33 -2 -46 4 -73 30 -40 39 -56 40 -90 4z"/>
            <path d="M2454 2921 c-28 -62 -29 -67 -22 -168 7 -104 7 -105 -22 -152 -17 -27 -30 -52 -30 -57 0 -5 24 -29 53 -54 l52 -46 133 7 c73 4 148 13 167 19 37 12 39 17 50 102 l6 47 -45 6 c-44 7 -46 8 -60 59 -13 43 -34 70 -134 176 l-119 125 -29 -64z"/>
            <path d="M3484 2862 c-17 -21 -38 -51 -47 -67 -8 -17 -52 -60 -96 -95 -45 -35 -79 -68 -77 -74 3 -6 13 -35 22 -65 l18 -53 43 5 c42 4 43 3 84 -49 23 -30 44 -54 46 -54 15 0 129 33 135 39 13 12 -25 114 -44 119 -16 4 -38 59 -40 101 -1 9 7 55 17 103 18 85 18 88 0 108 -10 11 -21 20 -24 19 -3 0 -20 -17 -37 -37z"/>
            <path d="M1740 2802 c-22 -38 -40 -73 -40 -79 0 -6 16 -21 35 -33 l36 -22 -7 -84 c-4 -46 -4 -84 -1 -84 4 0 22 8 42 17 27 13 50 40 97 115 l60 99 -46 69 c-46 69 -47 70 -91 70 -44 0 -44 0 -85 -68z"/>
            <path d="M2882 2754 c-19 -39 -21 -51 -12 -79 8 -26 19 -35 42 -40 35 -8 41 -3 58 49 12 38 12 39 -27 77 l-39 39 -22 -46z"/>
            <path d="M1302 2727 c-12 -28 -22 -61 -22 -72 -1 -11 16 -138 37 -283 l38 -263 -39 -110 c-32 -92 -37 -114 -28 -135 11 -22 17 -24 74 -24 l63 0 125 136 c80 87 128 148 134 170 9 31 5 39 -76 147 l-86 114 -6 79 c-13 153 -12 150 -77 200 -43 33 -59 52 -59 70 0 20 -5 24 -27 24 -24 0 -31 -8 -51 -53z"/>
            <path d="M2061 2721 c-12 -22 -21 -52 -21 -66 0 -36 26 -82 51 -90 19 -6 20 -12 14 -73 l-6 -67 43 -23 c24 -12 46 -22 50 -22 18 0 88 74 88 92 0 28 -86 164 -122 192 -18 14 -33 37 -37 57 -10 49 -35 49 -60 0z"/>
            <path d="M1650 2671 c-5 -11 -10 -27 -10 -35 0 -9 -17 -29 -39 -44 -34 -24 -40 -35 -52 -92 -7 -36 -14 -68 -14 -71 0 -3 33 -35 73 -70 40 -35 87 -85 104 -111 16 -27 31 -48 33 -48 2 0 23 9 48 19 37 16 45 25 51 54 8 45 -9 83 -43 95 -49 17 -69 44 -84 112 -11 54 -12 74 -1 120 7 30 13 56 14 57 0 3 -58 33 -64 33 -3 0 -10 -9 -16 -19z"/>
            <path d="M1949 2657 c-8 -7 -24 -34 -34 -61 -11 -27 -36 -71 -57 -97 -21 -27 -38 -52 -38 -57 0 -5 20 -29 45 -54 40 -41 45 -51 45 -91 0 -39 7 -54 55 -115 30 -39 55 -78 55 -87 0 -12 5 -15 16 -11 9 3 26 9 37 12 12 3 52 44 89 92 53 69 65 90 57 104 -6 10 -48 49 -95 86 l-85 67 7 61 c6 58 4 64 -27 112 -36 54 -44 59 -70 39z"/>
            <path d="M3044 2623 c-22 -3 -52 -25 -108 -82 -70 -71 -77 -81 -67 -100 15 -27 26 -26 108 5 57 21 78 24 126 19 52 -5 130 9 170 32 4 3 -15 31 -44 64 -43 50 -54 57 -70 49 -14 -8 -27 -6 -48 5 -17 8 -31 14 -33 13 -2 0 -17 -3 -34 -5z"/>
            <path d="M3291 2424 c-23 -26 -41 -50 -41 -53 0 -9 81 -71 92 -71 9 0 51 21 76 38 20 14 -21 106 -54 121 -33 15 -27 17 -73 -35z"/>
            <path d="M2703 2419 c-38 -11 -37 -7 -17 -80 15 -52 15 -63 0 -134 -22 -104 -21 -111 14 -125 25 -10 38 -29 67 -92 20 -43 41 -77 47 -75 6 2 46 12 89 22 l77 19 0 110 c0 61 3 120 5 131 4 15 -3 25 -26 40 -18 12 -49 52 -74 95 -34 59 -48 75 -66 75 -12 0 -24 6 -27 13 -4 14 -43 14 -89 1z"/>
            <path d="M2978 2406 c-43 -24 -46 -35 -19 -60 10 -9 27 -38 36 -64 10 -26 21 -51 25 -56 5 -4 49 6 100 24 101 37 99 33 65 114 -15 36 -17 37 -54 31 -29 -5 -49 -1 -78 13 l-38 20 -37 -22z"/>
            <path d="M2272 2398 c-17 -17 -15 -32 7 -52 31 -28 56 -17 56 24 0 30 -4 35 -25 38 -14 2 -31 -3 -38 -10z"/>
            <path d="M2421 2375 c-18 -13 -44 -39 -57 -59 -17 -24 -33 -36 -48 -36 -17 0 -37 -18 -74 -67 l-52 -67 53 -55 c30 -31 57 -68 60 -83 4 -16 14 -28 21 -28 8 0 20 -17 26 -37 7 -21 15 -41 19 -45 3 -4 31 5 61 19 30 15 80 29 110 32 45 5 57 10 69 32 14 25 13 30 -9 71 l-23 45 26 54 c14 30 32 75 38 100 12 44 11 48 -17 87 -24 34 -38 43 -77 52 -68 14 -88 12 -126 -15z"/>
            <path d="M3543 2334 c-37 -20 -63 -42 -63 -51 0 -20 -33 -92 -42 -93 -3 0 -37 21 -75 46 -37 26 -73 47 -79 47 -6 0 -46 -24 -88 -54 l-78 -54 124 -118 c67 -64 141 -133 163 -152 l41 -34 82 24 c83 24 83 24 115 5 24 -15 50 -20 105 -20 39 0 72 2 72 5 0 5 -166 403 -191 458 -7 15 -15 27 -18 27 -3 0 -34 -16 -68 -36z"/>
            <path d="M1772 2173 c-30 -16 -33 -21 -29 -50 7 -43 -34 -118 -80 -145 -26 -16 -33 -26 -33 -52 0 -31 2 -33 68 -48 65 -16 71 -16 180 7 63 12 121 30 129 38 14 14 9 27 -42 132 -32 63 -61 117 -64 119 -24 15 -100 14 -129 -1z"/>
            <path d="M3036 2117 c-18 -13 -18 -15 -1 -47 10 -19 28 -64 40 -100 19 -58 25 -65 50 -68 28 -4 125 34 125 48 0 4 -9 15 -20 25 -10 9 -37 48 -60 86 -39 66 -43 69 -79 69 -20 0 -45 -6 -55 -13z"/>
            <path d="M2103 2055 c-24 -13 -48 -25 -54 -27 -8 -3 -6 -14 5 -37 16 -30 16 -37 2 -77 -14 -41 -14 -45 4 -54 27 -14 49 -12 95 9 31 14 45 29 64 70 l25 52 -44 44 c-24 25 -47 45 -50 44 -3 0 -24 -11 -47 -24z"/>
          </g>
          <g id="layer104" fill="#99c1f1" stroke="none">
            <path d="M2235 1800 c-66 -4 -151 -8 -190 -9 l-70 -2 -53 -75 -54 -75 7 -80 7 -79 -43 -40 -44 -39 100 -194 c65 -128 104 -193 112 -190 7 3 13 12 13 19 0 8 18 50 40 94 35 69 50 87 119 142 l78 63 46 125 c24 69 48 154 52 190 7 61 10 68 57 113 l50 47 -53 -2 c-30 -1 -108 -5 -174 -8z"/>
            <path d="M2892 1768 c-30 -43 -32 -44 -164 -81 -73 -21 -138 -37 -143 -37 -6 0 -28 -29 -48 -64 l-38 -64 5 -136 5 -137 64 -87 c35 -48 66 -92 70 -98 3 -6 -7 -44 -22 -85 -27 -70 -29 -89 -45 -367 -9 -173 -21 -299 -27 -310 -8 -12 -9 -39 -4 -78 6 -54 8 -57 22 -39 49 67 97 178 143 330 45 151 55 174 86 201 l34 31 58 -13 c31 -8 64 -14 73 -14 11 0 51 74 129 234 l113 234 261 182 c218 151 270 192 319 250 55 67 57 71 57 127 l0 59 -317 -24 -318 -23 -122 21 c-68 12 -131 24 -142 27 -14 3 -27 -7 -49 -39z"/>
          </g>
         </svg>
        </div>
      </div>
  </body>
</html>
